@charset "UTF-8";
.member_search_wrapper {width: 1280px; margin: 0 auto; }

.member_search {text-align: right; }

.search_flex {display:flex; justify-content: flex-end; margin-bottom: 10px;}

.add_admin {font-family: 'Dongle', sans-serif; font-size: 1.5rem; background: #F8EDE3; border-radius: 0.5rem; cursor: pointer; border-width: 1px;}

.search_btn {font-family: 'Dongle', sans-serif; font-size: 1.5rem; background: #F8EDE3; border-radius: 0.5rem; cursor: pointer; border-width: 1px; margin-left: 1rem;}
	
.search_text{width: 10rem;  border:0; border-bottom: 1px solid #333; margin-left: 1rem; outline: 0;}

td {border-radius: 0.5rem;}